@import "tailwindcss";
@plugin './hero.ts';
/* Note: You may need to change the path to fit your project structure */
@source '../../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}';
@custom-variant dark (&:is(.dark *));

html,
body {
  height: 100%;
}


@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-momo: var(--font-momo); /* Add this line */
}


@media (prefers-color-scheme: dark) {
  /* :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  } */
}

.font-caveat {
  font-family: var(--font-caveat), cursive;
}



body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Cambria, Cochin, Georgia, Times,
    "Times New Roman", serif, system-ui, -apple-system, Segoe UI, Roboto,
    Helvetica, Arial, "Apple Color Emoji", "Segoe UI Emoji";
}



@keyframes slideIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.animate-slideIn {
  animation: slideIn 1s ease forwards;
  animation-delay: 1s;
}

.animate-slideIn-bg-svg {
  animation: slideIn 5s ease forwards;
  animation-delay: 1s;
}

@keyframes slideInFromRight {
  from {
    transform: translateX(100%); 
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slideIn-home-media {
  animation: slideInFromRight 0.5s ease-out forwards;
  animation-delay: 4s;
}


@keyframes slideInText {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes underlineDraw {
  0% {
    width: 0;
    opacity: 0;
  }
  100% {
    width: 100%;
    opacity: 1;
  }
}

.animate-slideIn-text {
  animation: slideInText 1s ease forwards;
  animation-delay: 0.5s;
}

.relative-text {
  position: relative;
  display: inline-block;
}

.relative-text::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  background-color: currentColor;
  width: 0;
  opacity: 0;
  animation: underlineDraw 1s ease forwards;
  animation-delay: 1.5s;
}

.stroked-text {
  color: transparent;
  -webkit-text-stroke: 1px black; /* outline */
  position: relative;
  animation: slideInText 1s ease forwards;
  animation-delay: 0.5s;
}

@keyframes spin-slow {
  0% {
    transform: rotateY(0deg) rotateX(0deg);
  }
  100% {
    transform: rotateY(360deg) rotateX(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}



